#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    border: none;
}

#sidebar-splitter {
    width: 0px !important;
    border: none !important;
}

.browser-toolbar:not(.titlebar-color) > var(--toolbar-color) {
    background-color: #2e3440 !important;
    background-image: none !important;
}

:root {
    --tabbar-bg: #2e3440;
    --tab-surface: #2e3440;
	--chrome-background-color: #2e3440 !important;
	--chrome-secondary-background-color: #2A2A2A !important;
}

::after {
    border-bottom-width: 0px !important; 
}

#statuspanel-label {
  -moz-appearance: none !important;
  background-color: #81A1C1 !important;
  color: white !important;
}

#nav-bar {
    background-color: #2e3440 !important;
    background-image: none !important;
}

#navigator-toolbox {
  background-color: #2e3440 !important;
  background-image: none;
}

#PersonalToolbar {
    background-color: #2e3440 !important;
}


